# Logs
/AIR_QUALITY/MONITORING/logs
/AIR_QUALITY/MONITORING/*.log
/AIR_QUALITY/MONITORING/npm-debug.log*
/AIR_QUALITY/MONITORING/yarn-debug.log*
/AIR_QUALITY/MONITORING/yarn-error.log*
/AIR_QUALITY/MONITORING/pnpm-debug.log*
/AIR_QUALITY/MONITORING/lerna-debug.log*

/AIR_QUALITY/MONITORING/node_modules
/AIR_QUALITY/MONITORING/dist
/AIR_QUALITY/MONITORING/dist-ssr
/AIR_QUALITY/MONITORING/*.local

# Editor directories and files
/AIR_QUALITY/MONITORING/.vscode/*
/AIR_QUALITY/MONITORING/!.vscode/extensions.json
/AIR_QUALITY/MONITORING/.idea
/AIR_QUALITY/MONITORING/.DS_Store
/AIR_QUALITY/MONITORING/*.suo
/AIR_QUALITY/MONITORING/*.ntvs*
/AIR_QUALITY/MONITORING/*.njsproj
/AIR_QUALITY/MONITORING/*.sln
/AIR_QUALITY/MONITORING/*.sw?
