.dashboard {
	overflow-y: auto;
	&::-webkit-scrollbar {
		display: none;
	}
	> h2 {
		font-size: 2.2rem;
		margin: 1rem 2rem;
	}
	//**  widgetcontainer
	.widget-container {
		@include flex(row, space-around, stretch, 1rem);
		padding: 2rem;

		.widget {
			border-radius: 10px;
			min-width: 18rem;
			height: 14rem;
			background-color: #029e9d;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.132);
			padding: 1rem;
			@include flex(column, flex-start, unset, 0.4rem);

			> div:nth-child(1) {
				@include flex(row, flex-start, center, 0.5rem);
				width: 100%;
				padding: 0.5rem 0.2rem;

				> i {
					@include square(2.4rem);
					border-radius: 50%;
					@include flex(row, center, center, 0);
					background-color: #979595;

					> svg {
						font-size: 2rem;
					}
				}

				> h4 {
					margin-right: auto;
				}

				> p {
					font-size: 1.1rem;
					@include flex(row, center, center);

					> svg {
						font-size: 1.4rem;
					}
				}

				select {
					margin-left: auto;
					background-color: transparent;
					border: none;
					color: white;
					font-size: 1.1rem;
					cursor: pointer;
					padding: 0.5rem;
					outline: none;
					border: none;
					border-radius: 5px;

					option {
						background-color: #029e9d;
						border: none;
						outline: none;
						color: white;
					}
				}
			}

			> h2 {
				font-size: 2.5rem;
				text-align: center;
			}

			> h5 {
				margin-top: 1rem;
				align-self: flex-end;
				font-size: 1.4rem;
			}
		}
	}

	// ** map hero container
	.mapContainer {
		min-height: 100vh;
		width: 100%;
		background-color: #f7b898;
		padding: 1rem 2rem;
		@include flex(row, space-between, flex-start, 1rem);
		> div {
			width: clamp(400px, 60%, 100%);
			@include flex(column, flex-start, center, 1rem);
			box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
			border-radius: 11px;
		}

		> .HomeCard {
			padding: 2rem 1rem;
			background-color: #fcfcfc8f;
			width: 60%;
			> div {
				@include flex(row, space-between, center, 0);
				width: 100%;
				> h3 {
					@include flex(row, flex-start, center, 1rem);
				}
				> button {
					padding: 0.5rem 1rem;
					border-radius: 30px;
				}
			}
			> .header {
				margin-bottom: 1rem;
			}
			> .maindata {
				width: 100%;
				@include flex(row, space-between, center, 1rem);
				> div {
					@include flex(row, space-evenly, center, 1rem);
					flex-wrap: wrap;
				}
				> .graph {
					width: 40%;
					> .piechart {
						@include square(8rem);
						border-radius: 50%;
						background-color: red;
					}
					> .g1,
					> .g2 {
						width: 40%;
					}
				}
				> .data {
					width: 60%;
					justify-content: flex-start;
					> .aqiLevel {
						width: 47%;
						@include flex(column, flex-start, center, 0rem);
						> .wrapper {
							width: 100%;
							> div {
								height: 15px !important;
								> div {
									height: 15px !important;
								}
							}
						}
						> h3 {
							font-size: 1rem;
						}
						> p {
							font-size: 0.6rem;
							font-weight: 300;
						}
					}
				}
			}
		}

		.cityCard {
			padding: 2rem 1rem;
			background-color: #fcfcfc8f;
			width: 40%;
			> div {
				@include flex(row, space-between, center, 0);
				width: 100%;
				> h3 {
					@include flex(row, flex-start, center, 1rem);
				}
				> button {
					padding: 0.5rem 1rem;
					border-radius: 30px;
				}
			}
			> p {
				font-size: 0.8rem;
			}
			> .maindata {
				flex-direction: column;
				width: 100%;
				row-gap: 1rem;
				padding-top: 2rem;
				> .graph {
					> svg {
						width: 60%;
						display: block;
						margin: 1rem auto;
					}
				}
				> .data {
					width: 100%;
				}
			}
		}
	}
}
