.recentBlogs {
	overflow-y: auto;
	&::-webkit-scrollbar {
		display: none;
	}
	height: 100vh;
	width: 100%;
	background-color: #fcfcfc;
	> h2 {
		margin: 2rem 0;
		text-align: center;
	}
	> p {
		text-align: center;
		text-wrap: balance;
		width: 55%;
		margin: 1rem auto;
		font-weight: 500;
		font-family: "poppins";
		opacity: 0.4;
	}
	> .blogContainer {
		@include flex(row, center, flex-start, 1rem);
		flex-wrap: wrap;
		width: 100%;
		// background-color: red;
		padding: 2rem;
		> div {
			@include flex(column, flex-start, flex-start, 1rem);
			width: clamp(200px, 31%, 100%);
			background-color: #f2f2f295;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
			color: #000000;
			border-radius: 8px;
			text-align: center;
			> img {
				width: 100%;
				border-radius: 8px;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
			> h4 {
				font-family: "poppins";
				font-size: 1rem;
				font-weight: 600;
				opacity: 0.7;
				padding-left: 1rem;
			}
			> a {
				font-family: "poppins";
				padding: 0 1rem 1rem;
				text-align: left;
				color: rgb(29, 37, 145);
				cursor: pointer;
			}
		}
	}
}

.blog {
	overflow-y: auto;
	&::-webkit-scrollbar {
		display: none;
	}
	width: 100%;
	> img {
		width: 100%;
		height: 400px;
	}
	> h2 {
		font-family: "poppins";
		font-size: 2.5rem;
		padding: 1rem;
		font-weight: 600;
		opacity: 0.7;
		padding-left: 1rem;
		line-height: 1.2;
		text-wrap: balance;
	}
	> h4 {
		font-family: "poppins";
		font-size: 1rem;
		padding-left: 1.2rem;
		font-weight: 500;
		opacity: 0.7;
	}
	> h3 {
		padding: 1rem;
		font-size: 1.6rem;
	}
	> p {
		font-size: 1rem;
		font-family: "poppins";
		font-weight: 400;
		padding: 1rem;
	}
}
