@font-face {
	font-family: "Gilroy";
	src: url("https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Light.eot");
	src: local("Gilroy Light"), local("Gilroy-Light"),
		url("https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Light.woff") format("woff"),
		url("https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

// ???  poppins font classes

.extralight {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
}

.light {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.semibold {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.extrabold {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: normal;
}

.black {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.regular-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.medium-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: italic;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./utils/variables";
@import "./utils/mixins";
@import "./dashboard";
@import "./signup";
@import "./AqiMap.scss";
@import "./aqiIndex";
@import "./recentblogs";
@import "./health";
@import "./contact";
@import "./mediaQueries";
:root {
	font-family: "Helvetica Rounded", Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	cursor: pointer;
	border: none;
}

a {
	text-decoration: none;
	color: black;
}

.red {
	color: red;
}

.purple {
	color: rgb(47, 0, 255);
}

.green {
	color: rgb(0, 195, 0);
}
.redbg {
	background-color: red;
	color: #fcfcfc;
}

.purplebg {
	background-color: rgb(103 178 212);
	color: #fcfcfc;
}

.yellowbg {
	background-color: rgb(232, 182, 73);
	color: #fcfcfc;
}
.greenbg {
	background-color: rgb(0, 195, 0);
	color: #fcfcfc;
}

.admin-container {
	@include grid(1fr 4fr, 0rem);
	height: 100vh;
	background-color: rgb(247, 247, 247);
	> aside {
		width: 100%;
		background-color: #029e9d;
		padding: 1rem;
		z-index: 10;
		overflow-y: auto;
		.active {
			color: #029e9d;
			background-color: #fcfcfc;
			padding: 1rem 1rem;
			border-radius: 8px;
		}
		> img {
			width: 40%;
			display: block;
			margin: 2rem auto;
		}
		> h2 {
			color: #fcfcfc;
			font-size: 1rem;
			text-align: center;
			margin-top: -1rem;
			font-weight: 500;
		}
		> h5 {
			color: #fcfcfc;
			font-size: 0.7rem;
			text-align: center;
			font-weight: 400;
		}
		&::-webkit-scrollbar {
			display: none;
		}

		> div {
			margin: 2rem 1rem;
			> h5 {
				@include heading(2px);
				opacity: 0.8;
				margin: 1rem 0;
			}
			> ul {
				@include flex(column, unset, unset, 0.5rem);
				list-style: none;
				> li {
					padding: 0.5rem 0;
					border-radius: 10px;
					a {
						color: rgba(0, 0, 0, 0.825);
						@include flex(row, unset);
						padding: 0rem 1rem;
					}
				}
			}
		}
	}
}

#hamburger {
	display: grid;
	place-items: center;
	@include square(3rem);
	border: none;
	outline: none;
	cursor: pointer;
	color: rgba(44, 104, 255);
	position: fixed;
	top: 1rem;
	left: 1rem;
	font-size: 2rem;
	background-color: white;
	border-radius: 50%;
	z-index: 9;
}

#close-sidebar {
	width: 80%;
	margin: 1rem auto;
	display: block;
	padding: 0.75rem;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: rgb(168, 2, 2);
	color: white;
	border-radius: 10px;
}
#logout-sidebar {
	width: 80%;
	margin: 1rem auto;
	display: block;
	padding: 0.75rem;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: rgb(168, 2, 2);
	color: white;
	border-radius: 10px;
}

.loader {
	width: 100%;
	height: 100vh;
	@include flex;
	> div {
		@include square(10rem);
		border-radius: 50%;
		border-top: 1rem solid rgb(43, 43, 43);
		border-left: 1rem solid rgb(43, 43, 43);
		border-right: 1rem solid #fff;
		border-bottom: 1rem solid #fff;
		animation: loading-animation 0.5s linear infinite;
	}
}

@keyframes loading-animation {
	to {
		transform: rotateZ(360deg);
	}
}

// bar
.bar {
	box-shadow: 1px 0 5px 0px #979595;
	height: 5rem;
	@include flex(row, unset);
	padding: 2rem 1rem;
	border-bottom: 1px solid rgba($color: #000000, $alpha: 0.37);
	> div {
		padding: 0rem 1.3rem;
		border: 1.6px solid rgb(133, 130, 130);
		display: flex;
		align-items: center;
		margin-right: auto;
		width: 40%;
		border-radius: 5px;
		justify-content: flex-start;
		gap: 1rem;
		> input {
			margin-right: auto;
			@include inputStyles(100%, 1rem 0);
			&::placeholder {
				color: #266;
			}
		}
		> svg {
			font-size: 1.2rem;
			opacity: 0.7;
		}
	}
	> article {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		> i {
			display: flex;
			align-items: center;
			justify-content: center;
			@include square(3rem);
			background-color: #d5d3d4;
			border-radius: 50%;
			cursor: pointer;
			> svg {
				font-size: 1.4rem;
				opacity: 0.7;
			}
		}
		> img {
			@include square(3rem);
			border-radius: 50%;
		}
		> div {
			margin-left: -0.6rem;
			> h5 {
				font-size: 0.9rem;
				margin-bottom: -0.1rem;
			}
			> p {
				font-size: 0.9rem;
				margin-top: -0.1rem;
			}
		}
		> button {
			padding: 0.7rem 2rem;
			background-color: #029e9d;
			font-size: 1.2rem;
			border-radius: 5px;
			color: #fcfcfc;
		}
	}
}
